---
import type { MovieData } from "@components/Vote.svelte";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import Vote from "@components/Vote.svelte";
import Login from "@components/Login.svelte";

import supabase from "@config/supabase";

const { data: moviesData }: { data: MovieData[] | null } = await supabase
    .from("active_movies")
    .select("movies(*)");
---

<Layout title="Saturday Night at 9">
    <main>
        <div class="header">
            <h1 class="title">
                <span>Saturday Night&nbsp;</span>
                <span class="text-gradient">at 9</span>
            </h1>
        </div>
        <div class="content">
            <Login client:only />
            <ul role="list" class="link-card-grid">
                <Card
                    href="/archive"
                    title="Archive"
                    body="Archive of the movies that we have already watched."
                />
                <Card
                    href="/discord"
                    title="Discord"
                    body="Join our Discord to attend Saturday Night at 9."
                />
            </ul>
        </div>

        <div class="vote-container">
            {
                moviesData?.length ? (
                    <>
                        <h2>Vote for next Saturday</h2>
                        <Vote
                            moviesData={moviesData}
                            client:only
                        />
                    </>
                ) : (
                    <h2>Wait for voting to start</h2>
                )
            }
        </div>
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
    h1 {
        font-size: 2.5rem;
        font-weight: 800;
        margin: 0;
    }
    h2 {
        text-align: center;
    }
    .title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header {
        text-align: center;
    }
    .content {
        margin-top: 2.5em;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
    .vote-container {
        margin-top: 1.5rem;
    }
</style>
